<environment names="Development">
    <link href="~/css/bootstrap.min.css" rel="stylesheet"/>
</environment>

<environment names="Staging,Production">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>
</environment>

<environment names="Development">
    <h2>Сайт в разработке</h2>
</environment>

<environment names="Staging,Production">
    <div class="text-bg-secondary p-3">
        <h2>Проект развернут на сервере</h2>
    </div>
</environment>