<h2>Anchors</h2>

<a asp-controller="Home" asp-action="Users" asp-route-id="45">asp-controller="Home" asp-action="Users" asp-route-id="45"</a>
<br />
<a asp-controller="Home" asp-action="Person" asp-all-route-data='new Dictionary<string, string>{ {"id", "5"}, {"name", "GreeD"}, {"age", "31"} }'>
    asp-controller="Home" asp-action="Person" asp-all-route-data='new Dictionary<string, string>{ {"id", "5"}, {"name", "GreeD"}, {"age", "31"} }'</a>
<br />
<a asp-route="users" asp-route-id="33">asp-route="users" asp-route-id="33"</a>
<br />
<a asp-protocol="https" asp-host="google.com">asp-protocol="https" asp-host="google.com"</a>