<cache expires-after="@TimeSpan.FromDays(15)" vary-by-cookie="Name">  
    <h2>vary-by-cookie="Name"</h2>
    Date: @DateTime.Now.ToString("HH:mm:ss")
</cache> <br />
<cache expires-after="@TimeSpan.FromDays(15)" vary-by-user="true">  
    <h2>vary-by-user="true"</h2>
    Date: @DateTime.Now.ToString("HH:mm:ss")
</cache> <br />
<button><a asp-action="Logout" asp-controller="Auth" >Logout</a></button>
